/* 'Commissioner' - IMPORTED FROM GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

/* --------------------------------------------------------- */
/* ----------- DEFAULT STYLING / REUSED ELEMENTS ----------- */
/* --------------------------------------------------------- */

html, body {
    font-family: 'Commissioner', Verdana, sans-serif;
    background-color: #ffffff;
  
    /* Prevent horizontal scrolling */
    max-width: 100%;
    overflow-x: hidden; 
  }

  p {
    color: black;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 2rem;
  }

  b {
    font-weight: 550;
  }

  a {
    text-decoration: none;
    color:#2CA9BC;
    transition:all 0.3s ease-out;
    margin-top: 1rem;
  }

  a:hover, a:focus, a:active {
    font-weight: bold;
    text-decoration: none;
  }

  .default-container {
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: left;
    box-shadow: 0 0.156rem 0.375rem 0 #b9b9b9;
    background-color: white;
  }

  .heading-container img {
    width:2.5rem;
    height:auto;
    margin-right:0.5rem;
  }

  h1 {
    margin: auto 0 auto 0.5rem ;
    padding: 0;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
    margin: auto 0 auto 0.5rem ;
    color: #303030;
    font-weight: 500;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
  }

  .anchor {
    margin: 1rem 0;
  }

/* ---------------------------------- */
/* ----------- INDEX PAGE ----------- */
/* ---------------------------------- */

  /* ----------- HOMEPAGE LANDING ----------- */

  .home-main {
    width:100%;
    height:min-content;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .home-main .default-container {
    margin: 0 auto;
    inline-size: 40%;
  }

  .heading-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }

  .home-main .heading-container {
    margin: 2rem auto;
    align-self: center;
    justify-content: center;
  }

  .home-landing {
    display: flex;
    inline-size: min-content;
    overflow-wrap: break-word;
    margin: 2rem auto;
    text-align: right;
  }

  .home-landing a {
    margin: auto 2rem;
    background-image: linear-gradient(90deg, rgba(167,167,167,1) 0%, rgba(48,48,48,1) 25%, rgba(255,0,0,1) 50%, rgba(234,223,107,1) 75%, rgba(0,178,255,1) 100%);
    background-size: 400% 100%;
    background-position: top left;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;

    transition:all 0.3s ease-out;
  }

  .home-landing a:hover, .home-landing a:focus, .home-landing a:active {
    background-size: 200% 100%;
    background-position: top left 100%;
  }

    /* Media Queries */
    @media (max-width: 70rem) {
      .home-main .default-container {
        inline-size: 70%;
      }

      .home-landing {
        flex-direction: column;
        gap:2rem;
        align-items: center;
      }
      }
      
      
  /* ----------- PROJECT GALLERY ----------- */

.projects-main {
  padding:2rem 15vw;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
}

#project-seperator {
    margin: 2rem auto;
    align-self: center;
    justify-content: center;
}

.projects-main-container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap:3rem;
  width: 40vw;
  margin: 0 auto;
}

.projects-main-container p {
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
  margin-top: 1rem;
}

.projects-main-container .default-container {
  padding: 1.5rem 2.25rem;
}

.thumb-title-container {
  display: flex;
  flex-direction: row;
  height:min-content;
}

.thumb-title-container .anchor {
  margin: 0 0.5rem;
}

.thumb-title-container .heading-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0rem;
}

.thumb-title-container .heading-container h1 {
  font-size: 1.5rem;
}

.thumb-title-container img {
  align-self: center;
  margin-right:0.5rem;
}

.thumb-img-container {
  width:100%;
  height: auto;
  margin-top:1rem;
  align-self: center;
  background-color: #2CA9BC;
  border-radius: 1rem;
  box-shadow: 0 0.156rem 0.375rem 0 #b9b9b9;
  position: relative;
}

.img-thumb {
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius: 1rem;
  margin: 0 auto;
}

/* Image link styling, referenced from Mozilla docs: https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
.imglink {
  transition-duration: 0.5s;
  transition: all 0.25s ease-out;
}

.imglink:hover, .imglink:focus, .imglink:active {
  opacity: 0.4;
}

.text {
  color: white;
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;

  pointer-events: none;
}

.text p {
  color: white;
  margin: 0;
}

.imglink:hover + .text, .imglink:focus + .text, .imglink:active + .text {
  opacity: 1;
}

/* Media Queries */
@media (max-width: 60rem) {
  .projects-main {
    padding:2rem 1vw;
  }

  .projects-main-container {
    flex-direction: column;
    gap:3rem;
    width: 80%;
  }

  .projects-main-container .default-container {
    padding: 1.5rem 1rem;
  }

  .home-main {
    text-align: left;
  }
  }

  @media (max-width: 70rem) {
    .projects-main {
      padding:2rem 0.5vw;
    }
  }

  
  @media (max-width: 30rem) {
    .thumb-title-container {
      flex-direction: column;
    }
  
    .thumb-title-container img {
      margin-right: auto;
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

/* -------------------------------------------- */
/* ----------- CONTACT & ABOUT PAGE ----------- */
/* -------------------------------------------- */

.contact-main {
  padding:2rem 15vw;
}

.contact-wrapper .default-container {
  inline-size: 80%;
}

.p-bio{
  font-size: 1rem;
}

.contact-content {
  display: flex;
  width: 100%;
  height:90%;

  align-items: center;
  justify-content: center;

  flex-direction: column;
  margin: 0 auto;
}

.content-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.hellocard-container {
  position: relative;
  text-align: center;
  color: white;
}

.hellocard-container p {
  line-height: 1rem;
}

.centered-bio {
  position: absolute;
  width:90%;
  top: 68%;
  left: 53.5%;
  transform: translate(-50%, -50%);

  line-height: 1rem;
}

.toolbox {
  height: min-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 0 0 2rem;
}

.toolbox h2 {
  margin:0;
  font-weight: bold;
  text-align: center;
}

.toolbox img {
  padding-top: 0.5rem;
}

/* Media Queries */
@media (max-width: 50rem) {
  .content-about {
    flex-direction: column;
  }
  .toolbox {
    height: min-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem 0;
  }

  .contact-main {
    padding:2rem 2vw;
  }
  }

  @media (max-width: 80rem) {
    .contact-wrapper .default-container {
      inline-size: 100%;
    }
  }

/* ---------------------------------------------- */
/* ----------- BIG PHARM PROCESS PAGE ----------- */
/* ---------------------------------------------- */

.process-main {
  padding:2rem 15vw;
}

/* Project Title Elements */
.project-title-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.project-title-container .heading-container {
  flex-direction: column;
}

.heading-container a {
  margin-top:0;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 54%, rgba(44,169,188,1) 56%, rgba(44,169,188,1) 100%);
  background-size: 200% 100%;
  background-position: top left;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.heading-container a:hover, .heading-container a:focus, .heading-container a:active {
  background-size: 300% 100%;
  background-position: top left 100%;
  text-decoration: none;
}

.project-title-container .heading-container {
  margin:0;
}

.heading-container h1 {
  font-size: 2rem;
}

.heading-container h2 {
  color: #B2B8B6;
}

.process-main .default-container h1 {
  margin:0;
  padding-bottom: 1rem;
}

.project-title-container img {
  margin-right:0.5rem;
  align-self: center;
}

.process-wrapper h2 {
  padding:0;
  margin: 2.5rem 0 1rem 0;
  color: black;
}

.process-wrapper .default-container {
  margin: 1vw 4vw;
}

.styleguide-container h2 {
  padding:0;
  margin: 1rem 0;
  font-weight: bold;
  font-style: normal;
}

.iteration-container h2 {
  padding:0;
  margin: 1rem 0;
  font-style: italic;
  font-size: 1rem;
}

.img-container img {
  border-style: solid;
  border-width: thin;
  border-color: #D9D9D9;
}

.line-break {
  width: 70%;
  height: 0.1rem;
  background-color: #303030;
  border-radius: 5rem;
  margin-top: 0.5rem;
}

/* Project Overview Display */

.project-overview-wrapper {
  display: flex;
  flex-direction: row;
  gap:1rem;
  width: 100%;
}

.context-wrapper {
  /* width: max-content; */
  flex: 1;
  height: min-content;
  align-self: center;
}

.context-wrapper .anchor a {
  display: flex;
  width: min-content;
  white-space: nowrap;
  text-align: center;
  gap: 0.25rem;
}

/* prover overview information grid */
.info-grid {
  display: grid;
  margin-top: 3rem;
  gap:1rem;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 1.5rem;

  grid-template-areas:
  "time tools"
  "course  role";
}

#timeline {
  grid-area: time;
}

#tools {
  grid-area: tools;
}

#course {
  grid-area: course;
}

#role {
  grid-area: role;
}
/*  */

.project-overview-container {
  flex: 1;
  align-self: center;
}

.project-display {
  width:100%;
  height:min-content;
}

.project-display img {
  width:100%;
  height: auto;
  display: inline;
}

.project-display a {
  display:flex;
  width:min-content;
  white-space: nowrap;
  text-align: center;
}

/* Process Info */

.process-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.process-wrapper .heading-container {
  margin-top: auto 3rem;
}

.iteration-container {
  width:100%;
  display: flex;
  flex-direction: row;
  margin: 2rem 0;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.iteration-container img {
  width: 70%;
  height: auto;
}

.iteration-style-container {
  display: flex;
  flex-direction: column;
  width:100%;
  height:min-content;
  padding: 1rem 4rem;
}

.iteration-style-container {
  text-align: center;
  align-self: center;
  margin: 1.5rem 0 0 0;
}

/* Media Queries */

@media (max-width: 55rem) {
  .iteration-container {
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .project-overview-wrapper {
    flex-direction: column;
  }

  .img-container {
    margin: 0 0 2rem 0;
  }

  .process-main {
    padding: 2rem 1rem;
  }

  .project-display {
    margin:1rem 0;
  }

  .iteration-style-container {
    padding: 1rem 1rem;
  }
}

@media (max-width: 22rem) {
.project-title-container {
  flex-direction: column;
}
}

.styleguide-container {
  display: flex;
  width: 100%;
  
  align-items: center;
  text-align: center;
}

.styleguide-container .img-container {
  width:50%;
}

.styleguide-container .img-container img {
  width:100%;
  height: auto;
}

.styleguide-container .iteration-style-container {
  width:40%;
  height:100%;
  padding:0;
}

.styleguide-container .iteration-style-container .img-container {
  width:100%;
}

#process-arrow {
  width:3rem;
  height:auto;
  margin: 0 2rem;

}
