/* 'Cabin' & 'Encode Sans Semi Condensed' - IMPORTED FROM GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* -------------------------------------------- */
/* ----------- DEFAULT STYLING ----------- */
/* -------------------------------------------- */

/* 
  TEXT ELEMENTS -------------------
*/

html, body {
  font-family: 'Cabin', Verdana, sans-serif;
  background-color: #E5EEF3;

  /* Prevent horizontal scrolling */
  max-width: 100%;
  overflow-x: hidden; 
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #7F96A1;
}

h1 {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 400;
}

h3 {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 300;
}

h4 {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 300;
  margin-bottom: 0.25rem;
}

p {
}

ul {
  line-height:2rem;
  padding: 0 1rem 1.5rem 1rem;
}

/* Styling for default in-line links */
p a{
  color:#007DBC;
  text-decoration: none;
  font-weight: bolder;
  transition: all 0.25s ease
}

p a:hover, p a:focus, p a:active {
  color: #E13037;
  text-decoration: none;
}

/* 
  IMAGE ELEMENTS -------------------
*/

/* Image link styling, referenced from Mozilla docs: https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
.imglink {
  transition-duration: 0.5s;
  transition: all 0.25s ease-out;
}

.imglink:hover, .imglink:focus, .imglink:active {
  opacity: 0.75;
}

.logo {
  height:auto;
  width:20vh;
  margin-right:1vw;
}

/* -------------------------------------------- */
/* ----------- INDEX ----------- */
/* -------------------------------------------- */

/* ----------- HOME ----------- */

.home-main {
  margin:auto;
  width: 95%;
  height: auto;
  margin-bottom:5vh;
}

.hero-div {
  position: relative;
  overflow: hidden;

  height:70vh;
  width:100%;
  
}

.img-hero {
  width:100%;
  height:100%;
  object-fit:cover;
}

.hero-text {
  background-color: white;

  box-sizing: border-box;
  padding: 4vh 3vh;

  width:35%;
  height:auto;
  overflow:hidden;
  border-bottom-left-radius: 1rem;
  box-shadow: 0.2rem 0.3rem 0.3rem rgb(0,0,0,0.25);
  
  position:absolute;
  top:0;
	right:0;
  z-index: 2;
}

.hero-text h1 {
  font-size:2rem;
  color:#185E9E;
}

.hero-text p {
  margin-top:2vh;
  padding-right:1vw;
  line-height:2.5vh;
}

/* Gradient code: https://www.w3schools.com/css/tryit.asp?filename=trycss3_gradient-linear_trans */
.hero-link {
  background: linear-gradient(90deg, rgba(0,125,188,1) 67%, rgba(0,170,255,0) 100%);   
  width:40%;
  height:15%;
  position:absolute;
  bottom:5%;
	left:0;
  z-index: 2;
  padding: 1rem;

  display: flex;
}

.hero-link a {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.85rem;
  margin: auto;
  margin-left:1vw;
  color:white;
  
  text-decoration: none;
  transition-duration: 0.2s;
}

.hero-link a:hover, .hero-link a:focus, .hero-link a:active {
  text-decoration: underline;
}

@media (max-width: 60rem) {
  .hero-div {
    height:100vh;
  }
  .hero-text {
    width:95%;
  }

  .hero-link {
    width:100%;
  }
}

/* ----------- INTRO ----------- */

.intro-main {
  display:flex;
  align-items: center;
  justify-content: center;

  flex-direction:row;
  padding-left:2vh;
  margin-bottom: 3%;
}

.intro-info-wrapper {
  display: flex;
  align-items: flex-start;
  padding:3vh;
  min-height:70vh;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex:1;

  width:30%;

  background-color: white;
  margin-right:2vh;
  border-radius: 1rem;

  /* Drop shadow referenced from mozilla: https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow */
  box-shadow: 0.2rem 0.3rem 0.3rem rgb(0,0,0,0.25);

  /* internal padding */
  box-sizing: border-box;
  padding: 5vh;
}

.intro-container p, .intro-container ul {
  width:80%;
}

.intro-container h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

.intro-container h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.intro-img-accent {
  max-width:9vh;
  height:auto;
  overflow: visible;
}

.intro-arrow {
  max-width:3vw;
  margin-top:auto;
  transition: all 0.25s ease-out;
}

.intro-arrow:hover, .intro-arrow:focus, .intro-arrow:active {
  opacity: 0.5;
}

.intro-hang-img {
  display: block;
  
  width:35vw;
  height: auto;

  margin-top:auto;
  margin-bottom:auto;
  text-align: center;
}

.intro-hang-img img {
  border-radius: 1rem;
  height:auto;
  width:55vw;
}

@media (max-width: 60rem) {
  .intro-main {
    margin-bottom: 10%;
  }

  .intro-container {
    padding: 5vw 2%;
    width:100%;
    margin-top:3%;
  }

  .intro-info-wrapper {
    flex-direction: column;
    margin-top: 0;
  }

  .intro-arrow {
    margin-top:2rem;
  }
}

@media (max-width: 80rem) {
  .intro-main {
    flex-direction: column;
  }

  .intro-container p, .intro-container ul {
    width:100%;
  }

  .intro-container h2, .intro-container h3 {
    margin: 1rem 0;
  }
}

/* ----------- PRODUCTS ----------- */

.products-home-main {
	display:flex;
  flex-direction: column;
  background-color: #007DBC;
  text-align: center;
}

.products-home-main h2 {
  font-size:2rem;
  font-weight:600;
  color:white;
  margin-top:2rem;
}

.products-home-main p {
  color:white;
  margin:1.5rem 0 0.5rem 0;
}

.products-wrapper {
  background-color: #007DBC;
  margin: 2.5% 0 4% 0;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: start;
  align-items: flex-start;

  gap:3.2rem;
  padding: 0 10rem;
}

.product-item {
	flex:1;
  flex-direction: column;
  display:flex;
  
  background-color: white;
  width:20%;
  box-shadow: 0 0.75rem 0.625rem rgb(0,0,0,0.25);

  box-sizing: border-box;
  padding: 0.2rem;
  border-radius: 0.5rem 0.5rem 0 0;

  transition: all .2s ease; 
}

/* Scale transition referenced from: https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/ */
.product-item:hover, .product-item:active, .product-item:focus {
  transform: scale(1.1);
}

.product-item p {
  color:black;
  margin:0.5rem 0;
}

.purchase {
  color:#81C1E0;
  text-decoration: none;
  margin-top:5rem;
  transition: all 0.25s ease-out;
  white-space: nowrap;
  width: min-content;
}

.purchase:hover, .purchase:active, .purchase:focus {
  color:#007DBC;
  text-decoration: underline;
}

.product-item img {
	max-width:100%;
	height:auto;
  margin-left: auto;
  margin-right: auto;

  border-radius: 0.5rem 0.5rem 0 0;
}

.product-info-wrapper {
  flex-direction: column;
  display:flex;
  box-sizing: border-box;
  padding: 1.5rem 3rem;
}

.product-info-wrapper h3 {
  font-size:1.75rem;
  font-weight:500;
}

.product-info-wrapper h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.product-info-wrapper div {
  margin: auto;  
  width:100%;
  padding: 1.15rem 0;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #BDD7E4;
}

@media (max-width: 70rem) {
  .products-wrapper{
    flex-direction: column;
  }

  .product-item {
    width:100%;
  }
  
  .product-item img {
    width:100%;
  }
}

@media (max-width: 90rem) {
  .products-wrapper {
    padding: 5%;
  }

  .product-item {
    width:100%;
  }

  .product-item img {
    width:100%;
  }
}

/* ----------- NEWSLETTER SUBMISSION ----------- */
/* Referenced from web.dev "Styling forms" - https://web.dev/learn/forms/styling/ */

.newsletter-main {
  display: flex;
  flex-direction: row;
  background-color: white;
  position: relative
}

.newsletter-img {
  background-image: url(../imgs/newsletter-hero.jpg);
  background-color: #81C1E0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 

  width:60%;
  height:100%;
  position:absolute;
	right:0;
  z-index: 1;
}

.email-wrapper{
 margin: 8% 5%;
 width:20%;
}

.email-wrapper h2{
  font-size:1.8rem;
  font-weight: 500;
  color:#185E9E;
  margin-bottom: 2rem;
}

.email-wrapper p {
  margin-bottom: 10%;
}

/* Styling for input form referenced from w3s: https://www.w3schools.com/css/css_form.asp */
label[for="email"] {
  color:#007DBC;
  font-size:1.25rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}

input[type=text] {
  font-family: 'Cabin', Verdana, sans-serif;
  font-size: 1.25rem;
  background-color: #E5EEF3;
  border: 0.125rem solid #7F96A1;
  padding:0.5rem;
  width:90%;
  border-radius: 0.25rem;
  display: block;
} 

input[type=submit] {
  border: none;
  border-radius: 15rem;
  background-color: #81C1E0;
  padding: 0.75rem 2.5rem;
  margin-top: 1.5vh;

  font-family: 'Cabin', Verdana, sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease; 
}

input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
  background-color: #007DBC;
}


/* ----------- FOOTER / CITATIONS ----------- */
.footer-main {
display: flex;
flex-direction: row;
}

.copyright-wrapper {
  margin-top: 2vh;
  margin-left:2%;
  position: relative;
  padding-right:3vw;
}

.copyright-wrapper p{
  width:90%;
  position: absolute;
  bottom:2rem;
  color: #7F96A1;
}

.contact-wrapper {
  margin-top:9vh;
  display: flex;
  flex-direction: column;
  margin-bottom:2rem;
}

.contact-wrapper h2 {
  color:#212121;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.contact-wrapper ul {
  color:#212121;
}

.contact-wrapper ul a {
  color:#007DBC;
}

.contact-wrapper ul a:hover, .contact-wrapper ul a:active, .contact-wrapper ul a:focus {
  color:#81C1E0;
}

#student-note {
  text-align: center;
  margin-top:5%;
  width:60%;
}

.citations-list {
  font-size:0.75rem;
}

.citations-list p {
  padding: 0.5rem 0;
}

@media (max-width: 60rem) {
  .newsletter-img {
    width:2%;
  }
  .email-wrapper {
    width:100%;
  }
  /* footer */
  #student-note {
    width:100%;
  }
  .footer-main {
    flex-direction: column;
    padding-left:5%;
  }
  .copyright-wrapper p{
    position: static;
  }
}

/* -------------------------------------------- */
/* ----------- BASIC PLAN PAGE ----------- */
/* -------------------------------------------- */

/* ----------- INTRO SECTION ----------- */
.basicplan-main {
  display:flex;
  flex-direction: column;

  margin:auto;
  width: 95%;
  height: auto;
  margin-bottom:2vh;
  background-color: #0080BF;

  align-items: center;
  padding: 3vh;
  padding-bottom: 5vh;
}

.basicplan-main h1 {
  color:white;
  font-size:2rem;
  font-weight: 600;
}

.basicplan-main p {
  color: #AAE3FF;
  padding-top: 0.8rem;
}

.basicplan-main ul {
  color: white;
}

.seperator {
  margin: auto;  
  width:40%;
  padding-bottom: 1vh;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #81C1E0;
}

.plan-wrapper {
  display: flex;
  flex-direction: row;
  margin-top:2vh;
}

.plan-wrapper h2 {
  margin-top: 1vh;
  padding-bottom: 1vh;
}

.plan-wrapper img {
  align-self: flex-end;
}

.button-buy-now{
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 2vw;

  flex:1;
  color: #185E9E;
  font-family: 'Cabin', Verdana, sans-serif;
  background-color: white;
  white-space: nowrap;
  border-radius: 15rem;

  text-decoration: none;
  text-align: center;
  transition-property: background-color; 
  transition-duration: 0.15s;
}

.button-buy-now:hover, .button-buy-now:active, .button-buy-now:focus {
  background-color: #185E9E;
  color: white;
}

.button-learn-more {
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: min-content;

  border-radius: 15rem;
  white-space: nowrap;
  color: white;
  font-family: 'Cabin', Verdana, sans-serif;
  background-color: #81C1E0;

  text-decoration: none;
  text-align: center;
  transition-property: background-color; 
  transition-duration: 0.15s;
}

.button-learn-more:hover, .button-learn-more:active, .button-learn-more:focus {
  background-color: #185E9E;
}

/* ----------- DATA SECTION ----------- */

.data-main {
  display:flex;
  flex-direction: column;

  margin:auto;
  width: 95%;
  height: 40vh;
  margin-bottom:2vh;

  background-image: url(../imgs/basicplan/data-bg.png);
  background-color: #7F96A1;
  background-repeat: no-repeat;
  background-size: cover;

  align-items: center;
}

.data-column-wrapper {
  background:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
  width:100%;
  flex-direction: column;
}

.data-column-wrapper h2 {
  color:#212121;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  align-self: center;
  margin: 1rem 0;
}

.data-wrapper {
display:flex;
flex-direction: row;
background:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
width:100%;
height:95%;
gap:2%;
justify-content: center;
}

.data-container {
  display: flex;
  width:45vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.data-container img {
  width: 4rem;
  height:auto;
  padding-bottom: 2vh;
}

.red-text {
  color:#E13037;
  padding-bottom: 2vh;
}

/* ----------- OVERVIEW BENEFITS SECTION ----------- */

.overview-main {
  display:flex;
  flex-direction: row;
  gap:2rem;

  margin:auto;
  width: 95%;
  margin-bottom:2vh;
}

.benefits-container {
  flex:3;
  background-image: url(../imgs/basicplan/benefits-bg.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;

  box-sizing: border-box;
  padding: 2rem;
}

.benefits-container h2 {
  font-size:2rem;
  color:#185E9E;
}

.benefits-container ul {
  margin-top:1rem;
  line-height: 7vh;
}

/* ----------- SUGGESTED PLANS SECTION ----------- */

.suggested-main{
  display:flex;
  flex-direction: column;
  margin-top:5rem;
  align-items: center;
  overflow:hidden;
}

.suggested-main h3 {
  font-weight:400;
  margin-bottom: 2rem;
}

.suggested-wrapper{
  display: flex;
  flex-direction: row;
  gap:2vw;
}

.suggested-plan-container{
  background: white;
  height:min-content;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  transition: all .2s ease; 
}

.suggested-plan-container:hover {
  transform: scale(1.1);
}

.suggested-plan-container h2{
  margin:1vh;
  margin-bottom: 2vh;
}

.suggested-plan-container img {
  border-radius: 0.5rem 0.5rem 0 0;
}


@media (max-width: 70rem) {
  .plan-wrapper {
    flex-direction: column;
  }
  
  .button-buy-now, .button-learn-more{
    align-self: center;
    margin-top: 2%;
    width:80%;
    text-wrap: wrap;
  }

  .overview-main {
    flex-direction: column;
  }

  .benefits-container ul {
    line-height:5vh;
  }
  .suggested-main h3 {
    text-align: center;
  }
  .suggested-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}


/* -------------------------------------------- */
/* ----------- CHECKOUT PAGE ----------- */
/* -------------------------------------------- */

.checkout-main {
align-items: center;
margin: 0 20vw;
}

.checkout-main h1 {
  color:#212121;
  font-size: 2rem;
  font-weight: 600;
  margin: 1.5rem 0;
}

/* ----------- TOTAL PAYMENT SECTION ----------- */

.total-main {
}

.total-wrapper {
  display:flex;
  flex-direction: row;
  background-color: #F9FBFF;
  box-shadow: 0 0.2rem 0.2rem rgb(0,0,0,0.25);
  border-radius: 0.5rem 0.5rem 0 0;

  padding: 2rem 2rem;
}

.total-wrapper p {
  font-size:1.2rem;
}

.total-amount {
  flex:1;
  display:grid;
  grid-template-columns: 1fr 1fr;

  box-sizing: border-box;
  padding: 2.5% 5% 2.5% 0;
  align-items: center;
}

.price-value {
  text-align: right;
}

.price-head {
  font-weight:700;
}

/* ----------- FORM SECTION ----------- */

/* 
Code help for submission form code/wrapper (citation):
https://forum.freecodecamp.org/t/how-to-get-submit-form-to-stretch-across-the-screen/244399
https://webdesign.tutsplus.com/how-to-build-web-form-layouts-with-css-grid--cms-28776t
*/

.submission-main {
  margin: 2rem auto;
  padding: 1em;
  
  background-color: white;
}

.input-wrapper {
  padding:2rem;
}

.input-wrapper h2 {
  font-size:1.5rem;
  font-weight: 600;
}

.input-wrapper form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
}

.input-wrapper form label {
  display: block;
  padding-bottom: 0.5rem;
}

.full-width {
  grid-column: 1 / 3;
  width: 100%;
}

.disclaimer {
  color:#81C1E0;
  grid-column: 1 / 3;
  width: 100%;
}

/* Form styling */
.input-wrapper form input, .input-wrapper form textarea {
  width: 100%;
  padding: 1em;
}

.payment-box {
  flex:2;
  display:grid;
  grid-column: 1 / 3;
  grid-gap: 1vw;
  width: 100%;

  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  align-items: center;
  
  border-color: #7F96A1;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.5rem;
}

.payment-box img {
  margin-left: auto;
}

.input-wrapper form button {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 400;
  font-size:1.5rem;

  color: white;
  background-color: #81C1E0;
  padding:1rem;
  border: none;
  border-radius: 0.5rem;

  transition-property: background-color; 
  transition-duration: 0.15s;
}

.input-wrapper form button:hover, .input-wrapper form button:focus, .input-wrapper form button:active  {
  background-color: #007DBC;
}

@media (max-width: 50rem){
  .checkout-main {
    margin: 0;
  }
  .total-wrapper {
    flex-direction: column;
  }
  .total-amount{
    padding: 10% 0;
  }
  .total-amount p {
    padding: 10% 0;
  }
}

@media (max-width: 70rem) {
  .input-wrapper {
    padding: 0;
  }
  .input-wrapper p {
    grid-column: 1 / 3;
    width: 100%;
  }
  .payment-box img {
    margin: 0;
  }
}
